/* *{
    margin: 0;
    padding: 0;
}
h1{

    color: blue;
}
#h1{
    color: blueviolet;
}
#h2{
    color: bisque;
}
#h3{
    color: chartreuse;
}
div{
    background-color: black;
    color: aliceblue;
    text-align: center;
    text-decoration: double;
}
#aa{
    background-color: bisque;
    color: chartreuse;
    text-decoration: dotted;
}
#bb{
    background-color: chocolate;
    color: black;
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
}
.div1{
    font-family: cursive;
    text-align: center;
    text-decoration: line-through;
    
}
.heading{
    color: red;
    text-decoration: underline;
    text-decoration-line: overline;
    font-weight:bolder;
    line-height: normal;
    text-transform: uppercase;
    
}
button{
    background-color: green;

}
.oo{
    font-weight: bolder;
    font-size: xx-large;
    line-height: normal;
}
.qq{
    font-family: cursive;
    line-height: 3;
    text-transform: lowercase;
} */
/* 
h1{
   text-transform: capitalize;
   text-align: center;
   font-family: 'Times New Roman'
;
}
#outer{
    font-size: 25px;
 }
#inner{
    font-size: 10px;
 } */
  /* #a{
    background-color: blue;
    height: 100px;
    width: 100px;
  
    display: inline-block;


  }
   #b{
    background-color: rgb(47, 156, 170);
    height: 100px;
    width: 100px;
   
    display: inline-block;
    

  }

   #c{
    background-color: rgb(188, 91, 31);
    height: 100px;
    width: 100px;
    
    display: inline-block;
    

  }

   #d{
    background-color: rgb(0, 106, 255);
    height: 100px;
    width: 100px;
   
    display: inline-block;
    

  }

   #e{
    background-color: rgb(91, 91, 100);
    height: 100px;
    width: 100px;
    
    display: inline-block;
    

  } */
   *{
    margin: 0;
    padding: 0;
   }
  #Box1{
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    border: 2px solid brown;
     padding: 40px;
     margin: 10px;
     

  }
   #Box2{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 119, 0);
    display: inline-block;
    text-align: center;
    border-radius: 50%;
     border: 2px solid brown;
 padding: 40px;
 margin: 10px;
 display: none;
    
  }
   #Box3{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 72);
    display: inline-block;
    text-align: center;
    border-radius: 50%;
     border: 2px solid brown;
 padding: 40px;
 margin: 10px;
 color: rgba(0,0,255,0.3230);
  }
   #Box4{
    height: 100px;
    width: 100px;
    background-color: rgb(242, 255, 0);
    display: inline-block;
    text-align: center;
    border-radius: 50%;
     border: 2px solid brown;
 padding: 40px;
 margin: 10px;
 visibility: hidden;
  }
   #Box5{
    height: 100px;
    width: 100px;
    background-color: rgb(152, 29, 77);
    display: inline-block;
    text-align: center;
    border-radius: 50%;
     border: 2px solid brown; 
 padding: 40px; 
margin: 10px;
}
  